<div class="container__col--single">
    <div>
        1. <%= link_to "Create Games", games_url, class: "link" %>
    </div>
    <div>
        2. <%= link_to "Create Teams", teams_url, class: "link" %>
    </div>
</div>