<div class="container__col--single">
    <table class="table">
        <tr class="table__row--title">
            <td class="table__title">Current Tournaments</td>
            <td></td>
        </tr>
        <% @tournaments.each do |tournament| %> 
        <tr class="table__row">
            <td class="table__item">
            <%= tournament.name %>  
            </td>
            <td class="table__item table__item--right">
                <% if current_user.registered?(tournament) %>
                    <%= link_to "Standings", tournament_url(tournament), class: "link" %>
                <% else %>
                    <%= link_to "Register", tournament_url(tournament), class: "link" %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </table>
</div>