.h1 {
    font-size: 3.2rem;
    font-weight: bold;
    margin: 0;

    &--light {
        color: $white;
        background: $black--true;
    }

    &--center {
        align-self: center;
    }
}

.h3 {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;

    &--uppercase {
        text-transform: uppercase;
    }
}

.body {
    &--bold {
        font-weight: bold;
    }

    &--italic {
        font-style: italic;
    }

    &--centered {
        text-align: center;
    }

    &--margin-0 {
        margin: 0
    }
}

.link,
.link:hover,
.link:active,
.link:visited {
    color: $red;
    text-decoration: none;
}