<div class="jumbotron" style="text-align: center;">
    <p class="h1">FLAGRANT 2</p>
    <p>call your shots.</p>
    <p>
        <%= link_to "Sign Up", new_user_url, { :class=>"button" } %>
        <%= link_to "Log In", new_session_url, { :class=>"button" } %>
    </p>
</div>
