.container {
    margin: 0 auto;
    max-width: $content-width--max;
    display: flex;
    flex-direction: column;
    padding: 20px;

    &--homepage {
        color: $white;
        min-height: 100vh;
    }
}

.container__col {
    flex-basis: 100%;

    &--single {
        align-self: stretch;
    }
}