.container {
    margin: 0 auto;
    max-width: $content-width;
    display: flex;
    flex-direction: column;
    padding: 20px;

    &--homepage {
        color: $white;
        min-height: 100vh;
    }

    &--wide {
        max-width: $content-width--wide;
    }
}

.container__col {
    flex-basis: 100%;

    &--single {
        align-self: stretch;
    }
}