<div class="container__col--single">
    <div class="post">
        <div class="h3">THE RULES OF THE GAME</div>
        <div class="h3">FLAGRANT 2 BASKETBALL POOL 2017</div>
        <p class="body body--italic">Where the Madness Never Ends</p>
        <img src="https://i.imgur.com/c5zz83G.jpg" style="margin: 0 auto;">
        <p class="body body--italic body--margin-0">Posted by Bruce Holliday<p>
        <p>Welcome to the Flagrant 2 Basketball Pool 2017! </p>
        <p>We are proud to be the only basketball pool with a rule book slightly thicker than the Affordable Care Act user manual.  And if it seems overly complex, Paul Ryan assures me that it is Obama's fault. </p>
        <p>To the game …</p>
        <p class="body body--bold body--centered">F2BP RULES 2017</p>
        <p>1.  No Whining.  Yes, I realize the rules are confusing, irrational, and generally reward stupid luck over basketball savvy.  If you are busy, have a life, or generally prefer an orderly existence … this may not be the basketball pool for you.  We suggest you just fill out your ESPN bracket and enjoy the fact that you have been mathematically eliminated after the first weekend.  </p>
        <p>2. We will use the NCAA convention of naming each round as follows:</p>
        <ol>
            <li>Round of 64</li>
            <li>Round of 32</li>
            <li>Sweet Sixteen</li>
            <li>Elite 8</li>
            <li>Semi-finals</li>
            <li>National Championship Game</li>
        </ol>
        <p>We are skipping the play-in games because they are boring and just creates more work for the F2BP Committee.  And we hate work.  A lot.</p>
        <p>3. You will start with 2000 STD’s (So-called Tournament Dollars) and no amount of penicillin will change this condition. This will be all the STD’s you get during the competition. So don’t blow your entire wad on the Fightin’ Buffalo Patties of North Dakota State in the Round of 64 and then beg for more....it ain’t gonna happen.</p>
        <p class="body body--italic">In a nod to the international pool of players this year, we are also offering other denominations:  So-Called Tournament Kroner (STK), So-called Tournament Pesos (STP), and So-called Tournament Rubles (STR).  You’re welcome Ambassador Kislylak.</p>
        <p>4. To start, you must wager $1000 on the Round of 64 (32 games to choose from) and $1000 on the Round of 32 (16 games from which to choose).  </p>
        <p>You may wager any amounts on any number of games. A bit like Roulette - you can spread your money all over the board in small amounts OR you can put it all on the U. Cal Santa Cruz Banana Slugs. It's your choice.  For the sake of your sanity, we highly recommend that you make wagers on a handful of games.  But that's up to you. </p>
        <p>For your convenience, and in tacit acknowledgement of the exceeding poor math skills of many of our favorite players, the F2BP Super Computer will total your wagers for you and prevent you (looking at you Jeff) from wagering in excess of your available STD/STP/STR’s.</p>
        <p>5. Here is the essence of the F2BP:   </p>
        <p class="body body--bold">The payout for each game will be: the (amount you wager) x (the seed of the team you bet upon).  Or (much more likely) 0, because your team lost.</p>
        <p>For example:  </p>
        <p class="body body--bold">$100 on U California Irvine at a 13 seed will return 100x13= 1300std = enough money to buy an actual Anteater. </p>
        <p>As always, #1 seeds will pay 1.5 times your bet.   Fair warning.  High Seeds like 1's and 2's won't get you very far in the F2BP.  You could put your money on UNC in every round and if UNC wins it all - you will probably finish 12th in this pool.  Yay for you!   </p>
        <p class="body body--centered body--bold">Our motto, “A sure bet, is a losing bet.”</p>
        <p>6. For the Sweet Sixteen and Elite 8, you must wager all the STD/STP/STR you have left over from the first 2 rounds. ...  1/2 on the Sweet Sixteen and 1/2 on the Elite 8.  Again, you may wager on as many games as you wish and you can allocate your wagers as you wish. </p>
        <p>7. In the Semi's and  the National Championship you must wager all the STD’s you have accumulated to date ...  1/2 in the Semis and 1/2 in the NC Game.</p>
        <p>8. This is where it gets real: <span class="body body--bold">There will be 3 rounds of allocating your STD’s.</span></p>
        <p>Very Important!  All bets are due at F2BP World Headquarters before the tip-off of the first game for that round. Specifically, bets are due by:</p>
        <p>Round of 64/32:  Bets due by Thursday March 16 at 12 noon EST</p>
        <p>Sweet 16/Elite 8    Bets due by Thursday March 23 at 12 noon EST</p>
        <p>Final Four/Natty   Bets due by Saturday April 1 at 12 noon EST</p>
        <p class="body body--italic">HOT TIP:  The winner of the F2BP is often the one person willing to fill out their selection sheets all the way to the bitter end.  Lots of attrition.  Think of the F2BP less as a pool, and more as a death march.   Do you have what it takes?</p>
        <p>9. And YES, you will be betting on games in the Rounds of 32 and Elite 8 and the Natty without actually knowing who will be playing in those games.  Good luck with that.  No whining.</p>
        <p>9a. <span class="body body--bold">Very Important!</span> For each round you may designated one team as your Daily Double.  If this team wins, you will receive - oddly enough - twice the normal payout.  A 10 seed team for example, if selected as your DD, will pay 10x2=20 times your bet.  To say that this selection is critical to success is to say that LeBron matters to the Cleveland Cavaliers.  Be judicious with this game feature.</p>
        <p>10. Special Jeff Smith Rule:  NO HEDGE BETS ALLOWED.  You may not bet on both teams in the same game!   Violators of this rule will be forced to french kiss Mitch McConnell.  Don't let this happen to you. </p>
        <p>11. Payouts will be as follows:  (based on minimum of 80 players)  </p>
        <ul>
            <li>$500 to the Grand Champion**</li>
            <li>$250 for 2nd</li>
            <li>$100 for 3rd</li>
            <li>$50 for 4th</li>
            <li>$25 for 5th and 6th</li>
            <li>$10 for 7th - 10th</li>
        </ul>
        <p class="body body--italic">**The F2BP Committee will recalibrate the payouts if we don’t make the minimum player pool size.  So it’s time to step up and recruit friends, family, spouses, and that guy you really want to get even with.  </p>
        <p>12.  Cost to play?  <span class="body body--bold">$10</span></p>
        <p>13. Good luck. You’re gonna need it.</p>
        <p>E-mail me with questions: <a href="mailto:bruceholliday@gmail.com" class="link">bruceholliday@gmail.com</a>.</p>
        <p>Bribes happily accepted.  Good Luck and we’re sorry in advance.</p>
        <p>——-</p>
        <span class="h3">F2BP Quick Tips for Getting Started</span>
        <img src="https://i.imgur.com/z5dKXPl.png" alt="">
        <p>Quick Tips for getting started without wanting to smash your laptop or mobile device:</p>
        <p>1.  Sign Up now with your name, your team name and your password.  You will have to use your password to sign in and make your future picks, so keep it memorable. As for team names, Jeff Smith has already requested, "Fightin' Flapjacks", so sorry that's taken.</p>
        <p>2.  The deadline for each round of picks is tip-off of the first game for those rounds. The F2BP Super Computer is a cold-ass bitch and any requests to make picks or change picks after the cut-off times will be treated with contempt and derision.  Make your picks by:</p>
        <p>Rounds of 64 and 32:    Thursday March 16@ 12 noon EST</p>
        <p>Rounds of 16 and 8:       Thursday March 23 @ 7 pm EST</p>
        <p>Semis and Natty Championship:   Saturday April 1 @ 12 noon EST</p>
        <p>You may edit and modify your picks as often as you want prior to the deadline.  Not that it's going to help.</p>
        <p>3.  Very important! Be sure to pick both rounds for the weekend!   Pick for the Round of 64 and the Round of 32. Then for  Sweet 16 and Elite 8.  The last week, pick for the Final Four and the Natty.   Yes, yes.  We are aware that you will be picking the Rounds of 32 and Elite 8 and the National Championship without knowing for certain which teams are playing. Deal with it.</p>
        <p>4.  Be sure to designate one game as your Daily Double.  If you forget, you're leaving meat on the bone. (see Da Rules) </p>
        <p>5.  You must wager 1/2 of your available STD's (see Da Rules) in each round.  The F2BP Super Computer will actually help you with these calculations.  </p>
        <p>6. Bookmark this site and check back here for up to the minute standings, round by round recaps, and trash talking commentary from your fellow competitors.  We will also keep an updated bracket on the site to assist you with your picks each week.</p>
        <p>7. God Have Mercy on your Soul.  And good luck.</p>
    <div class="body body--centered">
        <% if !logged_in? %>
            <%= link_to "Sign Up", new_user_url, { :class=>"button" } %>
            <%= link_to "Log In", new_session_url, { :class=>"button" } %>
        <% else %>
            <%= link_to "Enter", tournaments_url, { :class=>"button" } %>
        <% end %>
    </div>
    </div>
</div>
        